# Core functionality - changes here should be rare!
/src/app.py                   @shumcheyy
/src/backend/database.py      @shumcheyy
/src/backend/routers/auth.py  @shumcheyy

# The frontend will need refactored soon to be more object oriented.
/src/static/   @shumcheyy
